<div class="container">
    <div class="row">
        <section class="col-3">
            <h5 class="text-warning ml-3">Sort</h5>
            <select class="custom-select" (change)="onSortSelected($event.target.value)">
                <option *ngFor="let sort of sortOptions" 
                [value]="sort.value">
                {{sort.name}}
            </option>
            </select>
            <h5 class="text-warning ml-3 pt-3">Genres</h5>
            <ul class="list-group my-3">
                <li class="list-group-item" 
                    *ngFor="let genre of genres"
                    [class.active]="genre.id === this.shopParams.genreIdSelected"
                    [value]="genre.id"
                    (click)="onGenreSelected(genre.id)"
                >{{genre.name}}</li>
              </ul>
        </section>

        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">
                <app-paging-header
                [totalCount]="this.totalCount"
                [pageNumber]="this.shopParams.pageNumber"
                [pageSize]="this.shopParams.pageSize"
                ></app-paging-header>
                <div class="form-inline mt-2">
                    <input type="text" #search class="form-control" width="300px" placeholder="Search" (keyup.enter)="this.onSearch()">
                    <button class="btn btn-outline-primary my-2 ml-2" (click)="this.onSearch()">Search</button>
                    <button class="btn btn-outline-success my-2 ml-2" (click)="this.onReset()">Reset</button>
                </div>
            </div>

            <div class="row">
                <div class="col-4 mb-4" *ngFor="let book of books">
                  <app-book-client [book]="book"></app-book-client>
                </div>
            </div>
            <div class="d-flex justify-content-center" *ngIf="this.totalCount && this.totalCount > 0">
                <app-pager
                    [totalCount]="this.totalCount"
                    [pageSize]="this.shopParams.pageSize"
                    (pageChanged)="onPageChanged($event)"
                ></app-pager>
            </div>          
        </section>
    </div>
</div>

